.container-oss {
    display: inline-block;
    padding-top: 0px;
    /*padding-right: 25px;*/
    padding-bottom: 0px;
    /*padding-left: 25px;*/
    border: 0px solid;
}

.section-title-oss {
    color: #ff7a00;
    letter-spacing: 0em;
    text-shadow: 2px 0px, 2px #ff7a00;
}

.section-spacing-oss {
    margin-top: 10px;
    margin-bottom: 15px;
}

/*.transaction-item-spacing-oss {*/
    /*margin-bottom: 20px;*/
/*}*/

.transaction-item-spacing-top-oss {
    margin-top: 15px;
}

.margin-top-30-oss {
    margin-top: 30px;
}

.input-lable-oss {
    font-size: .8rem;
    color: #2f94D0;
}

.transaction-input-oss {
    border-top: 0px solid !important;
    border-right: 0px solid !important;
    border-bottom: 1px solid lightgray !important;
    border-left: 0px solid !important;
    outline: none !important;
    font-weight: bold !important;
    display: inline-block !important;
    height: 28px !important;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1 !important;
    color: #555 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-transition: border-color none 0s, box-shadow none 0s !important;
    transition: border-color none 0s, box-shadow none 0s !important;
}

.transaction-input-oss:focus {
    border-top: 0px solid white !important;
    border-right: 0px solid !important;
    border-bottom: 2px solid #2f94D0 !important;
    border-left: 0px solid !important;
    outline: none !important;
}

.transaction-input-oss::placeholder {
    color: #c7c7c7 !important;
    font-weight: 500 !important;
}

#txtTransactionName_OSS {
    max-width: 500px;
}

#txtTransactionDescription_OSS {
    max-width: 700px;
}

#cbTemplate_OSS {
    max-width: 700px;
}

#txtExpiryDate_OSS {
    width: 300px;
}

#cbLanguage_OSS {
    width: 300px;
}

#txtMessageToAll_OSS {
    width: 700px;
}

#divTransactionSettings_OSS {
    display: none;
}

[class*=" ossicon-"]:before, [class^=ossicon-]:before, [data-icon]:before {
    font-family: web-esl !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.ossicon-show-advanced-settings-button-oss:before {
    content: "";
    margin: 0;
}

.ossicon-add-oss:before {
    content: "";
    margin: 0;
}

.doc-item-wrapper-oss {
    height: 40px;
    background-color: white;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    margin-top: 2px;
    width: 700px;
    overflow: hidden;
    border: 0px solid;
    text-wrap: none;
}

.signer-item-wrapper-oss{
    height: 60px!important;
}

.align-center-oss{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.doc-item-wrapper-oss:hover {
    background-color: #fff7e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

.ossicon-file-blank-oss {
    font-size: 1.25rem;
    display: inline-block;
    color: #2f94D0;
}

.ossicon-file-blank-oss:before {
    content: "";
}

.ossicon-show-more-oss {
    font-size: 1.55rem;
    display: inline-block;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding: 0px;
    border: 0px solid;
    float: left;
    width: 55px;
    text-align: right;
    display: inline-block;
    color: #01476f;
}

.ossicon-show-more-oss:before {
    content: "";
}

.ossicon-settings-oss {
    margin-top: 3px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 0px;
    border: 0px solid;
    float: left;
    width: 20px;

    color: #01476f;
}

.ossicon-settings-oss:before {
    content: "";
    margin: 0;
    font-size: 1.25rem;
}

.ossicon-settings-oss:hover {
    cursor: pointer;
}

.ossicon-close-oss {
    display: inline-block;
    color: #c71c22;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 0px;
    border: 0px solid;
    float: left;
    width: 15px;
    display: none;
}

.ossicon-close-oss:before {
    content: "";
    color: #c71c22;
    font-size: 1.1rem;
    font-weight: 700;
}

.ossicon-preview-oss {
    font-size: 1.55rem;
    margin: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    padding: 0px;
    border: 0px solid;
    float: left;
    width: 55px;
    text-align: right;
    color: #01476f;
    display: none;
}

.ossicon-preview-oss:before {
    content: "\e060";
    color: #01476f;
    font-weight: 700;
}
.ossicon-preview-oss:hover {
    cursor: pointer;
}

.ossicon-sendToken-oss:before {
    content: "\e048";
    color: #2f94D0;
    font-size: 1.75rem;
    font-weight: 700;

}

.ossicon-tokenComplete-oss:before {
    content: "\e017";
    color: #83a332;
    font-size: 1.4rem;
    font-weight: 700;
}

.ossicon-return-oss:before {
    content: "\e012";
    color: black;
    font-size: 1.4rem;
    font-weight: 300;
}

.ossicon-close-oss:hover {
    cursor: pointer;
}



.ossicon-attachment-reqirement-remove-oss {
    display: inline-block;
    color: #c71c22;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    padding: 0px;
    border: 0px solid;
    float: left;
    width: 15px;
}

.ossicon-attachment-reqirement-remove-oss:before {
    content: "";
    color: #c71c22;
    font-size: 1.1rem;
    font-weight: 700;
}

.ossicon-attachment-reqirement-remove-oss:hover {
    cursor: pointer;
}

.doc-item-file-blank-oss {
    width: 30px;
    display: inline-block;
    float: left;
    margin: 0px;
    margin-right: 5px;
    padding-top: 9px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-left: 0px;
    border: 0px solid;
}

.doc-item-file-name-oss {
    width: 585px;
    display: inline-block;
    float: left;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 0px;
    border: 0px solid;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.doc-item-action-fields-oss {
    width: 60px;
    display: inline-block;
    float: left;
    margin: 0px;
    /*padding: 0px;*/
    border: 0px solid;
    padding-top:8px;
}

.signer-row-oss {
    background-color: white;
    margin-bottom: 2px;
}

.signer-row-oss:hover {
    background-color: #fff7e5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .15);
}

.signer-row-oss input {
    height: 30px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: white !important;
    /*padding-left: 10px !important;*/
    /*padding-right: 10px !important;*/
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    background-color: white !important;
    display: inline-block !important;
    height: 28px !important;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1 !important;
    color: #555 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-transition: border-color none 0s, box-shadow none 0s !important;
    transition: border-color none 0s, box-shadow none 0s !important;
}

.signer-row-oss:hover input {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #fff7e5 !important;
    background-color: #fff7e5 !important;
    width: 100% !important;
}

.signer-row-oss input:hover {
    border-width: 1px !important;
    border-style: solid !important;
    border-color: lightgray !important;
    background-color: white !important;
}

.signer-row-oss input:focus {
    outline: none !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: lightgray !important;
    background-color: white !important;
}

.signer-row-oss input::placeholder {
    color: lightgray !important;
    opacity: 1; /* Firefox */
}

.signer-row-oss input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: lightgray !important;
}

.signer-row-oss input::-ms-input-placeholder { /* Microsoft Edge */
    color: lightgray !important;
}

.signer-row-item-oss {
    padding-top: 8px;
    padding-bottom: 7px;
}

/* START - Attachment Requirement */

.textbox-attachment-requirement-oss {
    border-top: 0px solid !important;
    border-right: 0px solid !important;
    border-bottom: 0px solid lightgray !important;
    border-left: 0px solid !important;
    outline: none !important;
    font-weight: bold !important;
    display: inline-block !important;
    height: 30px !important;
    padding-left: 0px !important;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin: 0px !important;
    line-height: 1 !important;
    color: #555 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-transition: border-color none 0s, box-shadow none 0s !important;
    transition: border-color none 0s, box-shadow none 0s !important;
    width: 100% !important;
}

.textbox-attachment-requirement-oss:hover, .textbox-attachment-requirement-oss:focus {
    border-top: 1px solid #979797 !important;
    border-right: 1px solid #979797 !important;
    border-bottom: 1px solid #979797 !important;
    border-left: 1px solid #979797 !important;
    outline: none !important;
}

.textbox-attachment-requirement-oss::placeholder {
    color: #c7c7c7 !important;
    font-weight: 500 !important;
}

.attachment-requirement-row-item-oss {
    padding-top: 5px;
    padding-bottom: 7px;
}

/* END - Attachment Requirement */

.drag-handle-oss {
    width: 12px;
    height: 40px;
    /*background-image: url('../../Content/handle.svg');*/
    background-image: url('handle.svg');
    background-repeat: no-repeat;
    border: 0px solid;
    margin-top: 4px;
}

.drag-handle-oss:hover {
    cursor: -webkit-grab;
    cursor: grab;
    float: left;
    width: 12px;
    height: 40px;
    /*background-image: url('../../Content/handle-hover.svg');*/
    background-image: url('handle-hover.svg');
    background-repeat: no-repeat;
    margin-top: 4px;
}

.ossicon-user-oss:before {
    content: "";
    color: #2f94D0;
    font-size: 1.25rem;
    font-weight: 700;
}

.ossicon-notary-oss:before {
    content: "\e042";
    color: #ff7a00;
    font-size: 1.4rem;
    font-weight: 700;
}

.modal-title-oss {
    color: #ff7a00;
}

/* START - Vertical tab for Signer Settings */
.nav-signer-setting-oss > li {
    border-left: 3px solid #eee;
    border-right: 1px solid #eee;
}

.nav-signer-setting-oss > li.active {
    border-left: 3px solid #ff7a00;
    border-right: 1px solid #eee;
    background-color: white;
}

.nav-signer-setting-oss > li a {
    color: black;
    padding-top: 12px;
    padding-right: 30px;
    padding-bottom: 12px;
    padding-left: 30px;
}

.nav-signer-setting-oss > li a:visited {
    color: black;
}

.nav-signer-setting-oss > li.active a {
    background-color: white;
}

/* END - Vertical tab for Signer Settings */

.padding-bottom-15-oss {
    padding-bottom: 15px;
}

.modal-input-lable-oss {
    font-size: .8rem;
    color: gray;
}

input[type="text"]:focus,
select.form-control-oss:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.textbox-common-oss {
    border-top: 0px solid !important;
    border-right: 0px solid !important;
    border-bottom: 1px solid lightgray !important;
    border-left: 0px solid !important;
    outline: none !important;
    font-weight: bold !important;
    display: inline-block !important;
    height: 28px !important;
    padding: 0px !important;
    margin: 0px !important;
    line-height: 1 !important;
    color: #555 !important;
    vertical-align: middle !important;
    background-color: #fff !important;
    border-radius: 0px !important;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0) !important;
    -webkit-transition: border-color none 0s, box-shadow none 0s !important;
    transition: border-color none 0s, box-shadow none 0s !important;
    width: 100% !important;
}

.textbox-common-oss:focus {
    border-top: 0px solid white !important;
    border-right: 0px solid !important;
    border-bottom: 2px solid #2f94D0 !important;
    border-left: 0px solid !important;
    outline: none !important;
}

.textbox-common-oss::placeholder {
    color: #c7c7c7 !important;
    font-weight: 500 !important;
}

/* Not sure about this css*/

.fix-row-oss {
    margin-left: 15px;
    margin-right: 15px;
}

.section-oss {
    padding-bottom: 30px;
}

.section-title-wrapper-oss {
    padding-bottom: 15px;
}

.section-title-oss {
    font-family: Lato, sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #ff7a00;
}

.section-content-oss {
    padding-bottom: 15px;
}

.page-header-content-oss {
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.page-title-oss {
    font-weight: 500;
    font-size: 1.6rem;
}

.top-margin-oss {
    margin-top: 20px;
}

.bold-oss {
    font-weight: bold;
    color: slategray;
}

.section-lable-oss {
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: darkslategray;
}

.action-color-oss {
    color: #2f94D0;
}

.signerRowOrderDiv-oss {
}

#cmbFileExtensionCreateTran_OSS {
    width: 700px;
}

#txtDestinationPathCreateTran_OSS {
    width: 700px;
}
